<!DOCTYPE html>
<html>
<head>
    <title>Transactions</title>
</head>
<body>
    <b>Hello,</b> {{ user }}!
    <hr>
    {% for device in transactions %}
        <h2>{{ device }}</h2>
        <table>
            <tr>
                <th>Borrowed</th>
                <th>Name</th>
                <th>Returned</th>
            </tr>
            {% for t in transactions[device] %}
                <tr>
                    <td>{{ t.start }}</td>
                    <td>{{ t.name }}</td>
                    <td>{{ t.end }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
    <hr>
</body>
</html>